*{
    font-family: Arial, Helvetica;
}

body {
    padding: 0px;
    margin: 0px;
}

.container {
    margin: auto;
    padding: 0px;
    max-width: 1400px;
}


.container .menu {
    height: 70px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.container .menu div {
    margin-top: 8px;
}


.container .menu .logo{
    font-size: 39px;
    font-weight: bolder;
}

.container .menu .logo:hover {
    cursor: pointer;
    opacity: 0.7;
}


.container .menu .botoes div {
    margin-right: 25px;
    font-size: 21px;
}

.container .menu .botoes nav div a {
    text-decoration: none;
    color: rgb(86, 86, 86);
}

.container .menu .botoes nav div a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container .menu button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container .menu a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.container .menu .botoes nav {
    display: flex;
    align-items: center;
}

.container .menu .tema {
    border-left: 1px solid rgb(163, 163, 163);
}

.container .menu .tema img {
    width: 30px;
    height: 30px;
}

.tema button {
    background: none;
    border: none;
    padding-left: 20px;
}

.cv button {
    background-color: black;
    color: white;
    font-size: 22px;
    border-radius: 15px;
    padding: 6px 12px;
    border: none;
}


.container .apresentacao {
    height: 550px;
    display: flex;
    justify-content: space-between;
    text-align:left;
    margin-top: 70px;
}

.container .apresentacao .texto {
    max-width: 60%;
    color: rgb(86, 86, 86);
}

.container .apresentacao .texto h1 {
    font-size: 70px;
    margin-bottom: 0px;
    color: black;
}

.container .apresentacao img {
    width: 25px;
    height: 25px;
}

.container .apresentacao .texto p {
    font-size: 20px;
    margin-top: 10px;
}

.container .apresentacao .texto .sub-infos {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    display: flex;

}

.container .apresentacao .texto .sub-infos .localidade {
    display: flex;
}

.container .apresentacao .texto .sub-infos .localidade img {
    margin-right: 15px;
    margin-top: 0px;
}

.container .apresentacao .texto .sub-infos .status {
    display: flex;
    margin-top: 10px;
}
.container .apresentacao .texto .sub-infos .status .ponto-verde {
    background-color:chartreuse;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 22px;
}

.container .apresentacao .texto .redes {
    width: 150px;
    height: 30px;
    margin-top: 100px;
}

.container .apresentacao .texto .redes img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.container .apresentacao .foto {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .apresentacao .foto .moldura-foto {
    height:370px;
    width: 300px;
    background-color: rgb(129, 129, 129);
    margin-bottom: 30px;
    box-shadow: 40px 40px 0px #E3E5E8;
}

.container .biografia {
    background-color: rgb(248, 248, 248);
    height: 900px;
}

.container .biografia .biografia-topo {
    height: 180px;
    display: flex;
    justify-content: center;
}

.container .biografia .biografia-topo .sobre-mim {
    height: 20px;
    width: 100px;
    background-color: rgb(230, 229, 229);
    color: rgb(59, 59, 59);
    padding: 8px 15px 8px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 100px;
    text-align: center;
}

.container .biografia .corpo-biografia {
    height: 100%;
    display: flex;

}


.container .biografia .foto-biografia {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container .biografia .foto-biografia .moldura-foto-biografia {
    height:420px;
    width: 350px;
    background-color: rgb(129, 129, 129);
    margin-bottom: 100px;
    box-shadow: -40px 40px 0px #E3E5E8;
    margin-top: 80px;
}

.container .biografia .texto-biografia {
    width: 50%;
    margin-top: 47px;

}

.container .biografia .texto-biografia h1 {
    font-size: 34px;

}

.container .biografia .texto-biografia p {
    line-height: 25px;

}

.container .skills {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container .skills .skills-topo  {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .skills .skills-topo .skills-title {
    height: 20px;
    width: 75px;
    background-color: rgb(230, 229, 229);
    color: rgb(59, 59, 59);
    padding: 6px 8px 6px;
    font-size: 16px;
    border-radius: 14px;
    margin-top: 100px;
    text-align: center;
}

.container .skills .skills-topo p {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 22px;
    width: 370px;
    margin-bottom: 100px;
}

.container .skills .techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .skills .techs div  {
    height: 120px;
    width: 120px;
    margin: 0px 35px 45px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

.container .skills .techs div img {
    width: 100%;
    margin-bottom: 5px;

}

.container .experiencia {
    background-color: rgb(248, 248, 248);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container .experiencia .experiencia-topo {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .experiencia .experiencia-topo .experiencia-title {
    height: 20px;
    width: 90px;
    background-color: rgb(230, 229, 229);
    color: rgb(59, 59, 59);
    padding: 8px 16px 8px;
    font-size: 16px;
    border-radius: 16px;
    margin-top: 100px;
    text-align: center;
}

.container .experiencia .experiencia-topo p {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 22px;
    width: 400px;
    margin-bottom: 100px;
}

.container .experiencia .experiencia-container {
    background-color: white;
    height: 300px;
    width: 100%;
    max-width: 850px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgb(107, 106, 106);
    display: flex;
}

.container .experiencia .experiencia-container div {
    margin-right: 15px;
    max-width: 380px;
}

.container .experiencia .experiencia-container img {
    margin: 30px 30px 0px 30px;

}

.container .experiencia .experiencia-container h4 {
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 35px;

}

.container .experiencia .experiencia-container p {
    margin-top: 35px;

}

.container .experiencia .experiencia-container div ul li {
    line-height: 25px;
    margin-top: 6px;
}



.container .trabalhos {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
}

.container .trabalhos .trabalhos-topo {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .trabalhos .trabalhos-topo .trabalhos-title {
    height: 20px;
    width: 90px;
    background-color: rgb(230, 229, 229);
    color: rgb(59, 59, 59);
    padding: 8px 16px 8px;
    font-size: 16px;
    border-radius: 16px;
    margin-top: 100px;
    text-align: center;
}

.container .trabalhos .trabalhos-topo p {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 22px;
    width: 400px;
    margin-bottom: 100px;
}

.container .trabalhos .trabalhos-container {
    background-color: white;
    height: 500px;
    width: 100%;
    max-width: 1250px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgb(107, 106, 106);
    display: flex;
}

.container .trabalhos .trabalhos-container .container-esquerdo {
    background-color:rgb(230, 229, 229) ;
    width: 50%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .trabalhos .trabalhos-container .container-direito {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.container .trabalhos .trabalhos-container .container-esquerdo div {
    height: 80%;
    width: 80%;
    border-radius: 15px;
}

.container .trabalhos .trabalhos-container .container-esquerdo div img {
    width:100%;
    border-radius: 15px;
}

.container .trabalhos .trabalhos-container .container-direito .sub-container {
    height: 80%;
    width: 80%;
}

.container .trabalhos .trabalhos-container .container-direito .sub-container .container-direito-topo h4 {
    margin: 0px;
    font-size: 23px;
}

.container .trabalhos .trabalhos-container .container-direito .sub-container .container-direito-topo p {
    font-size: 18px;
    color: rgb(59, 59, 59);
    line-height: 25px;
}

.container .trabalhos .trabalhos-container .container-direito .sub-container .projeto-techs {
    display: flex;
    flex-wrap: wrap;
}

.container .trabalhos .trabalhos-container .container-direito .sub-container .projeto-techs div {
    background-color: rgb(230, 229, 229);
    flex-wrap: wrap;
    color: rgb(59, 59, 59);
    padding: 8px 16px 8px;
    font-size: 16px;
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 8px;
    text-align: center;
}

.container .trabalhos .trabalhos-container .container-direito .sub-container img {
    margin-top: 15px;
}


.container .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 620px;
}

.container .contato .contato-topo {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}


.container .contato .contato-topo p {
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 22px;
    width: 600px;

}

.container .contato .contato-topo .contato-title {
    height: 20px;
    width: 90px;
    background-color: rgb(230, 229, 229);
    color: rgb(59, 59, 59);
    padding: 8px 16px 8px;
    font-size: 16px;
    border-radius: 16px;
    margin-top: 100px;
    text-align: center;
}

.container .contato .contato-body {
    width: 520px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

.container .contato .contato-body .email {
    display: flex;
    margin-bottom: 20px;
}

.container .contato .contato-body .email span {
    margin-right: 18px;
    margin-left: 18px;
}

.container .contato .contato-body .telefone  {
    display: flex;
}

.container .contato .contato-body .telefone span {
    margin-right: 22px;
    margin-left: 22px;
}

.container .contato .contato-final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .contato .contato-final .recado{
    font-size: 18px;
    color: rgb(86, 86, 86);
}

.container .contato .contato-final .redes{
    width: 150px;
    height: 30px;
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
}
.container .contato .contato-final .redes a img {
    width: 30px;
    height: 30px;
}

.container .contato .contato-final .redes a img :last-child{
    margin-right:0px;

}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    height: 60px;
}